heterogeneity/data/facies_1_250.csv
heterogeneity/data/facies_250_500.csv
heterogeneity/data/facies_500_750.csv
heterogeneity/data/facies_750_1000.csv
heterogeneity/data/perm_0azim.csv
heterogeneity/data/perm_30azim.csv
heterogeneity/data/perm_45azim.csv
heterogeneity/data/perm_60azim.csv
heterogeneity/data/perm_90azim.csv
heterogeneity/data/perm_120azim.csv
heterogeneity/data/perm_135azim.csv
heterogeneity/data/perm_150azim.csv
heterogeneity/data/perm_noAzim_1_125.csv
heterogeneity/data/perm_noAzim_125_250.csv
heterogeneity/data/perm_noAzim_250_375.csv
heterogeneity/data/perm_noAzim_375_500.csv
heterogeneity/data/perm_noAzim_500_625.csv
heterogeneity/data/perm_noAzim_625_750.csv
heterogeneity/data/perm_noAzim_750_875.csv
heterogeneity/data/perm_noAzim_875_1000.csv
