heterogeneity/data3D/*
heterogeneity/data2D/X_data.npy
heterogeneity/data2D/y_data.npy

heterogeneity/h2dataf/*
heterogeneity/h2datag/*

heterogeneity/Fdataset/*
heterogeneity/Gdataset/*

heterogeneity/train_dataF/*
heterogeneity/train_dataG/*

heterogeneity/train_dataF_64x64/*
heterogeneity/train_dataG_64x64/*