heterogeneity/data/*
heterogeneity/data3D/*
heterogeneity/data2D/angles/*
heterogeneity/data2D/times/*

heterogeneity/X_data.npy
heterogeneity/y_data.npy
heterogeneity/y_temp.npy
heterogeneity/X_temp.npy
heterogeneity/data2D/X_data.npy
heterogeneity/data2D/y_data.npy
heterogeneity/h2dataf.zip
heterogeneity/h2datag.zip

heterogeneity/h2dataf/*
heterogeneity/h2datag/*
*.npz
